*{
    margin: 0;
    padding: 0;
}
body{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;

}
section{
    background-image: url(img/drumkit.jpeg);
    background-repeat: no-repeat;
    background-position: center;

}

.kick, .snare,.first_tom, .second_tom, .third_tom, .hihat, .crash, .ride{
    opacity: 0.0;
}






